
h1 {
  font-family: 'Arial', sans-serif;
  color: #333;
}

/* Селектор идентификатора */
#header {
  background: #eee;
  padding: 20px 0;
  text-align: center;
}

/* Селектор класса */
.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-list li {
  padding: 0 15px;
}

/* Селектор атрибута */
input[type="submit"], input[type="reset"] {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
}

/* Селектор псевдо-класса */
input[type="text"]:focus {
  border-color: blue;
}

/* Селектор псевдо-элемента */
nav::after {
  content: '';
  display: block;
  height: 1px;
  background: black;
  margin-top: 10px;
}

/* Комбинированный селектор */
section h2 {
  margin: 0;
  padding: 10px 0;
  background: lightgray;
}

/* Селектор по родительскому элементу */
form > div {
  margin-bottom: 10px;
}

/* Применение inline стиля */
/* Добавлено непосредственно в HTML элементы в примере ниже */

/* Использование !important */
.main-content {
  padding: 50px !important; /* Это свойство переопределит другие свойства padding, даже если они указаны позже */
}

/* Adapting layout with media query */
@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
  }

  /* Применение стилей для маленьких экранов или когда окно браузера сужено */
  .main-content {
    padding: 20px;
  }
}
